<footer class="footer">
  <div class="footer-content">
    <p href="/" class="footer-text">&copy; <%= new Date().getFullYear() %> Mindful Zen. All rights reserved.</p>
    <ul class="footer-links">
      <% if (currentUser) { %>
        <li class="footer-item"><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
        <li class="footer-item"><a href="/logout"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
        <li class="footer-item"><a href="/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
        <% if (currentUser.role === 'admin') { %>
          <li class="footer-item"><a href="/dashboard"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
        <% } %>
      <% } else { %>
        <li class="navbar-item"><a href="/login"><i class="fa-solid fa-right-to-bracket"></i><span>Login</span></a></li>
        <li class="navbar-item"><a href="/register"><i class="fa-solid fa-user-plus"></i><span>Register</span></a></li>
      <% } %>
    </ul>
  </div>
</footer>